:root {
    --color-one: #2E4057;
    --color-two: #9EE493;
    --color-three: #7CA5B8;
    --font-color: #ffffff;
}
body {
    background-color: var(--color-one);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--font-color);
}
nav ul {
    list-style-type: none;
}
.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	height:50px;
    border-radius: 0 15px 0 15px;
	box-shadow: 0 -2px 5px -2px #333;
	background-color: var(--color-three);
}
